.App {
  text-align: center;
  background-color: #3E4142;
  
}

.Title{
  font-size: 300%;
}



.App-header {
  background-color: #033E8C;
  font-family: Tahoma, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1px black;
  color: #ffffff;
  padding: 20px;
}